html,
body {
}

.main-body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mh-blue: ;
}

.header {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #0b1515;
  padding: 1.5rem;
  color: #eaebff;
}

.subjects-div {
  display: flex;
  justify-content: center;
  width: 70rem;
}

.subject-btn {
  margin-right: 4rem;
  margin-left: 4rem;
  width: 6rem;
  text-align: center;
}

.subject-btn:first-child {
  margin-left: 0;
}

.subject-btn:last-child {
  margin-right: 0;
}

.main-section {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  height: 100%;
  width: 100%;
  padding: 2rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-bottom: 1rem;
  color: #0b1515;
}

.content-page {
  background-color: #c3c5ff;
  border-radius: 1rem;
  height: 36.5rem;
  width: 75%;
  padding: 0.75rem;
}

.content-mask {
  height: 100%;
  /* background-color: #8f94fb; */
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-gutter: auto;
  padding: 0.5rem;
}

.post-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #e0e1f8;
}

.post-div:hover {
    box-shadow: 0px 0px 6px #20238d;
    cursor: pointer;
}

.post-div:last-child {
  margin-bottom: 0;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.65rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(78, 84, 200, 0.3);
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(78, 84, 200, 0.5);
  border-radius: 1rem;
}
